<% if @subscriber.save %>
  $('#subscriber_alert').html('<div class="alert alert-success">Subscription to newsletter was successfully created.</div>')
  $('#subscriber_email').val('')
<% else %>
  $('#subscriber_alert').html('<div class="alert alert-danger"><%= @subscriber.errors.full_messages.join(', ') %></div>')
<% end %>
