.carousel {
  margin-bottom: 64px;

  .carousel-item {
    height: 90vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    background-size: 100% 100%;

    &.slide-1 {
      background-image: image-url('landing/slider-1.png');

      .carousel-caption {
        color: #5a5a5a;
        top: 8rem;
      }
    }

    &.slide-2 {
      background-image: image-url('landing/slider-2.png');

      .carousel-caption {
        top: 12rem;
      }
    }
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 30px;
    height: 30px;
  }
}

.header {
  margin-bottom: 64px;
  text-align: center;
  text-transform: uppercase;
}

.how-to-use {
  .col-md-6 {
    text-align: center;
    margin-bottom: 20px;

    h2 {
      margin-top: 24px;
      font-weight: 300;
    }

    p {
      margin: 0 12px 16px;
    }
  }
}

.patreon {
  text-align: center;

  p {
    font-size: 20px;
    font-weight: 300;
  }

  .btn-patreon {
    margin-top: 20px;
    color: #FFFFFF !important;
    background-color: #F96854;
    border: 2px solid #F96854;
  }
}

#map {
  height: 500px;
}

// Tablet and Desktop
@media (min-width: 576px) {
  .carousel-caption {
    p {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 1.4;
    }
  }
}

// Mobile
@media (max-width: 575.98px) {
  &.slide-1 {
    .carousel-caption {
      top: 1rem !important;
    }
  }

  &.slide-2 {
    .carousel-caption {
      top: 3rem !important;
    }
  }
}
