body {
  padding: 70px 0 48px;
  color: #5a5a5a;
}

.divider-line {
  margin: 64px 0;
}

.content {
  margin-top: 40px;

  .form-header {
    text-align: center;
  }
}

.alert {
  margin-top: 8px;
  margin-bottom: 0;
  text-align: center;
}
