@import "bootstrap";

@import "devise";
@import "home";
@import "accounts";
@import "volunteers";

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.divider-line {
  margin: 5rem 0;
}

.content {
  margin-top: 70px;
}

.alert {
  margin-top: 15px;
}
