<div class='text-center mb-4'>
  <h1 class='h3 mb-3 font-weight-normal'>
    <%= t('shared.volunteers.new.header') %>
  </h1>
</div>

<%= render 'content/shared/volunteers/form', volunteer: @volunteer %>
