<h1 class='form-header'>
  <%= t('landing.accounts.new.header') %>
</h1>

<div class='row devise'>
  <div class='col-md-6 image'>
    <%= image_tag 'landing/devise.jpg', alt: t('landing.accounts.new.header'), class: 'img-fluid' %>
  </div>

  <div class='col-md-6'>
    <%= render 'form' %>
  </div>
</div>
