<div class='col-md-6 offset-md-3'>
  <div class='alert alert-success' role='alert'>
    <h4 class='alert-heading'>
      <%= t('landing.accounts.success_page.header') %>
    </h4>
    <hr>
    <p>
      <%= t('landing.accounts.success_page.body_html') %>
    </p>
  </div>
</div>
