<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <div class='container-fluid'>
    <button type='button' id='sidebarCollapse' class='btn btn-info'>
      <i class='fa fa-arrows-h'></i>
    </button>

    <button class='btn btn-dark d-inline-block d-lg-none ml-auto' type='button' data-toggle='collapse' data-target='#navbarId' aria-controls='navbarId' aria-expanded='false' aria-label='Toggle navigation'>
      <i class='fa fa-align-justify'></i>
    </button>

    <div class='collapse navbar-collapse' id='navbarId'>
      <ul class='nav navbar-nav ml-auto'>
        <% if current_account_domain.present? %>
          <li class='nav-item'>
            <%= link_to current_account_domain, class: 'nav-link', target: '_blank' do %>
              <%= t('admin.shared.view_site') %>
              <i class='fa fa-external-link'></i>
            <% end %>
          </li>
        <% end %>

        <li class='nav-item'>
          <%= link_to t('admin.shared.account'), edit_user_path, class: 'nav-link' %>
        </li>

        <li class='nav-item'>
          <%= link_to t('devise.actions.logout'), '/logout', method: :delete, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
