<nav class='navbar navbar-expand-md navbar-dark fixed-top bg-dark'>
  <%= link_to t('shared.administration'), root_path, class: 'navbar-brand' %>

  <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#adminNavbar' aria-controls='adminNavbar' aria-expanded='false' aria-label='Toggle navigation'>
    <span class='navbar-toggler-icon'></span>
  </button>

  <div class='collapse navbar-collapse' id='adminNavbar'>
    <ul class='navbar-nav ml-auto'>
      <% if current_account_domain.present? %>
        <li class='nav-item'>
          <%= link_to t('admin.shared.view_site'), current_account_domain, class: 'nav-link', target: '_blank' %>
        </li>
      <% end %>

      <li class='nav-item dropdown'>
        <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
          <i class='fa fa-user-o'></i>
        </a>

        <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
          <%= link_to t('admin.shared.account'), edit_user_path, class: 'dropdown-item' %>
          <div class='dropdown-divider'></div>
          <%= link_to t('devise.actions.logout'), '/logout', method: :delete, class: 'dropdown-item' %>
        </div>
      </li>
    </ul>
  </div>
</nav>
