// For pages, articles, and home
.article {
  .article-title {
    a {
      text-decoration: none;
      font-size: 20px;
    }
  }

  .article-meta {
    margin-bottom: 1.25rem;
    color: #999;

    .social-share-button {
      float: right;

      .ssb-icon {
        background-size: 24px 24px;
        height: 24px;
        width: 24px;
      }
    }
  }

  .article-body {
    blockquote {
      margin-left: 40px;
      margin-right: 40px;
      font-family: Georgia;
      font-size: 25px;
      color: grey;
    }

    img {
      display: block;
      margin: 25px auto;
    }

    .article-video {
      margin-bottom: 20px;
    }
  }

  .article-thumbnail {
    img {
      width: 300px;
      height: 200px;
    }
  }
}
