.home {
  &.index {
    .slider {
      background-size: cover;
      background-repeat: no-repeat;
      height: 70vh;
      // background-size: 100% 100%;

      .slider-title {
        font-size: 2.5rem;
      }
    }

    main {
      margin-top: 0;
    }

    @media (min-width: 768px) {
      .slider-title {
        font-size: 3rem;
      }
    }
  }

  &.about {
    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: auto;
    }
  }

  &.contact_us {
    #map {
      height: 400px;
      margin-bottom: 20px;

      .mapboxgl-canvas {
        height: 100% !important;
        width: 100% !important;
      }
    }

    .address {
      h3 {
        font-size: 40px;
      }
    }

    form {
      .message_name > input,
      .message_phone > input,
      .message_email > input,
      .message_subject > input {
        height: 50px;
      }
    }
  }
}
