.sidebar {
  .sidebar-content {
    padding: 24px;
    margin-bottom: 16px;

    iframe {
      width: 100%;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    h4, form {
      text-align: center;
    }
  }
}
