@import "bootstrap";

.home {
  .slider {
    margin-top: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    // background-size: 100% 100%;

    .slider-title {
      font-size: 2.5rem;
    }
  }

  .about-us {
    img {
      @extend .img-fluid;
      display: block;
      margin: auto;
    }
  }

  .contact-us {
    #map {
      height: 400px;
      margin-bottom: 20px;

      .mapboxgl-canvas {
        height: 100% !important;
        width: 100% !important;
      }
    }

    .address {
      h3 {
        font-size: 40px;
      }
    }

    form {
      input {
        height: 50px;
      }
    }
  }

  @media (min-width: 768px) {
    .slider-title {
      font-size: 3rem;
    }
  }
}
