<div class='article'>
  <h2 class='article-title'>
    <%= article.title %>
  </h2>

  <div class='article-meta'>
    <%= article.published_at.to_date.to_formatted_s(:long) %>
  </div>

  <div class='article-body'>
    <% if article.video_link.present? %>
      <div class='embed-responsive embed-responsive-16by9 article-video'>
        <iframe class='embed-responsive-item' src='<%= article.video_link %>' allowfullscreen></iframe>
      </div>
    <% end %>

    <%= sanitize article.body %>
  </div>
</div>
