<main role='main'>
  <div class='row'>
    <div class='col-md-8 article-single'>
      <h2 class='article-title'>
        <%= @article.title %>
      </h2>

      <div class='article-meta'>
        <%= @article.published_at.to_date.to_formatted_s(:long) %>
      </div>

      <div class='article-body'>
        <%= sanitize @article.body %>
      </div>

      <hr>
      <div class='embed-responsive embed-responsive-16by9'>
        <iframe class='embed-responsive-item' src='https://www.youtube.com/embed/M1M9n-wUhy0?rel=0' allowfullscreen></iframe>
      </div>
    </div>

    <%= render 'public/shared/sidebar' %>
  </div>
</main>
