<p>
  <%= t('content.account_mailer.notify_creation_new_entry.header') %>
</p>

<p>
  <%= t('content.account_mailer.notify_creation_new_entry.body') %>
</p>

<%= link_to t('content.account_mailer.notify_creation_new_entry.cta_text'), admin.account_url(@account) %>
