<div>
  <%= t('content.account_mailer.notify_creation_new_entry.header') %>
</div>

<div>
  <%= t('content.account_mailer.notify_creation_new_entry.body_html') %>
</div>

<%= link_to t('content.account_mailer.notify_creation_new_entry.cta_text'), admin.account_url(@account) %>
