<div class='row devise'>
  <div class='col-md-6 image'>
    <%= image_tag 'landing/devise.jpg', class: 'img-fluid' %>
  </div>

  <div class='col-md-6'>
    <h1 class='form-header'>
      <%= t('devise.actions.login') %>
    </h1>

    <%= render 'form' %>
  </div>
</div>
