<div class='row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative article'>
  <div class='col p-3 d-flex flex-column position-static'>
    <h3 class='mb-0 article-title'>
      <%= link_to article.title, article_path(article.slug) %>
    </h3>

    <div class='mb-1 text-muted'>
      <%= article.published_at.to_date.to_formatted_s(:long) %>
    </div>

    <p class='card-text mb-auto'>
      <%= article.summary.truncate(100, omission: '... (continued)') %>
    </p>

    <%= link_to t('public.read_more'), article_path(article.slug), class: 'stretched-link' %>
  </div>

  <div class='col-auto d-none d-lg-block article-image'>
    <svg class='bd-placeholder-img' width='300' height='200' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: Thumbnail'><title>Placeholder</title><rect width='100%' height='100%' fill='#55595c'/><text x='50%' y='50%' fill='#eceeef' dy='.3em'>Thumbnail</text></svg>
  </div>
</div>
