<div class='header'>
  <h1>
    <%= t('devise.mailer.email_changed.header', email: @email) %>
  </h1>
</div>

<div class='content'>
  <div class='content__body'>
    <% if @resource&.unconfirmed_email? %>
      <%= t('devise.mailer.email_changed.body.unconfirmed_email_html', email: @resource.unconfirmed_email) %>
    <% else %>
      <%= t('devise.mailer.email_changed.body.confirmed_email_html', email: @resource.email) %>
    <% end %>
  </div>
</div>
