<div class='header'>
  <h1>
    <%= t('devise.mailer.password_change.header', email: @email) %>
  </h1>
</div>

<div class='content'>
  <div class='content__body'>
    <%= t('devise.mailer.password_change.body_html') %>
  </div>
</div>
