<main role='main'>
  <div class='row'>
    <div class='col-md-8'>
      <h1>
        <%= t('shared.volunteers.new.header') %>
      </h1>

      <%= render 'content/shared/volunteers/form', volunteer: @volunteer %>
    </div>

    <%= render 'public/shared/sidebar' %>
  </div>
</main>
