<div class='container how-to-use'>
  <div class='row'>
    <div class='col-md-7'>
      <h2 class='how-to-use-heading'>First step. <span class='text-muted'>Create an account.</span></h2>
      <p class='lead'></p>
    </div>
    <div class='col-md-5'>
      <%= image_tag 'landing/how-to-use-step-1.png', width: 400, height: 400 %>
    </div>
  </div>

  <hr class='divider-line'>

  <div class='row featurette'>
    <div class='col-md-7 order-md-2'>
      <h2 class='how-to-use-heading'>Second step. <span class='text-muted'>Wait for approval.</span></h2>
      <p class='lead'>Once we receive your information, we will contact you within 24h to make sure your mosque exists.</p>
    </div>
    <div class='col-md-5 order-md-1'>
      <svg class='bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto' width='500' height='500' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 500x500'><title>Placeholder</title><rect width='100%' height='100%' fill='#eee'/><text x='50%' y='50%' fill='#aaa' dy='.3em'>500x500</text></svg>
    </div>
  </div>

  <hr class='divider-line'>

  <div class='row featurette'>
    <div class='col-md-7'>
      <h2 class='how-to-use-heading'>Third Step. <span class='text-muted'>Access to administration panel.</span></h2>
      <p class='lead'>Once we approve your account, you will receive a password via email, so you can login to the administration panel and costumise your site as you wish.</p>
    </div>
    <div class='col-md-5'>
      <svg class='bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto' width='500' height='500' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 500x500'><title>Placeholder</title><rect width='100%' height='100%' fill='#eee'/><text x='50%' y='50%' fill='#aaa' dy='.3em'>500x500</text></svg>
    </div>
  </div>

  <hr class='divider-line'>

  <div class='row featurette'>
    <div class='col-md-5 order-md-2'>
      <h2 class='how-to-use-heading'>Lately. <span class='text-muted'>It's ready.</span></h2>
      <p class='lead'>Your site for your masjid is ready to go.</p>
    </div>
    <div class='col-md-7 order-md-1'>
      <%= image_tag 'landing/how-to-use-step-4.png', width: 600, height: 400 %>
    </div>
  </div>

  <hr class='divider-line'>
</div>
