<div class='container patreon'>
  <h1 class='header'>
    <%= t('landing.home.index.pateron.headline') %>
  </h1>

  <%= t('landing.home.index.pateron.body_html') %>
  <%= link_to t('landing.home.index.pateron.cta_text'), 'https://www.patreon.com/masajidworld', class: 'btn btn-md btn-patreon' %>

  <hr class='divider-line'>
</div>
