<div id='mySlider' class='carousel slide' data-ride='carousel'>
  <ol class='carousel-indicators'>
    <li data-target='#mySlider' data-slide-to='0' class='active'></li>
    <li data-target='#mySlider' data-slide-to='1'></li>
  </ol>
  <div class='carousel-inner'>
    <div class='carousel-item active'>
      <%= image_tag 'landing/al-nour.jpg', class: 'd-block w-100' %>
      <div class='container'>
        <div class='carousel-caption text-left'>
          <h1>Your masjid online.</h1>
          <p>You own a masjid and you don't have a website, The Open Masjid project will help you.</p>
          <p><a class='btn btn-lg btn-primary' href='#' role='button'>Create account now</a></p>
        </div>
      </div>
    </div>
    <div class='carousel-item'>
      <%= image_tag 'landing/al-aqsa.jpg', class: 'd-block w-100' %>
      <div class='container'>
        <div class='carousel-caption'>
          <h1>Allah says in surat Tawba التوبة</h1>
          <p>The mosques of Allah are only to be maintained by those who believe in Allah and the Last Day and establish prayer and give zakah and do not fear except Allah, for it is expected that those will be of the [rightly] guided.</p>
          <p>إِنَّمَا يَعْمُرُ مَسَاجِدَ اللَّهِ مَنْ آمَنَ بِاللَّهِ وَالْيَوْمِ الْآخِرِ وَأَقَامَ الصَّلَاةَ وَآتَى الزَّكَاةَ وَلَمْ يَخْشَ إِلَّا اللَّهَ ۖ فَعَسَىٰ أُولَٰئِكَ أَن يَكُونُوا مِنَ الْمُهْتَدِينَ</p>
        </div>
      </div>
    </div>
  </div>
  <a class='carousel-control-prev' href='#mySlider' role='button' data-slide='prev'>
    <span class='carousel-control-prev-icon' aria-hidden='true'></span>
    <span class='sr-only'>Previous</span>
  </a>
  <a class='carousel-control-next' href='#mySlider' role='button' data-slide='next'>
    <span class='carousel-control-next-icon' aria-hidden='true'></span>
    <span class='sr-only'>Next</span>
  </a>
</div>
