# Copyright 2015 Google, Inc
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# [START gae_flex_quickstart_yaml]
runtime: ruby
env: flex
entrypoint: bundle exec bundle exec rackup --port $PORT

env_variables:
  SECRET_KEY_BASE: give-me-super-secret-token
  PROJECT_HOSTNAME: masajid.world
  POSTGRES_USER: give-me-valid-user
  POSTGRES_PASSWORD: give-me-valid-password
  POSTGRES_DATABASE: give-me-valid-database-name
  POSTGRES_HOST: give-me-valid-host
  SUPER_ADMIN_EMAIL: admin@masajid.com
  SUPER_ADMIN_PASSWORD: give-me-super-secure-password
  ADMIN_SENDER_EMAIL: admin@gmail.com # please make sure it is a valid email otherwise emails won't be sent
  ADMIN_NOTIFICATION_EMAILS: admin@gmail.com,admin_2@gmail.com # please make sure they are valid emails otherwise notification emails won't be sent
  MAILJET_API_KEY: give-me-valid-api-key
  MAILJET_SECRET_KEY: give-me-valid-secret-key
  MAPBOX_ACCESS_TOKEN: give-me-valid-access-token

beta_settings:
  cloud_sql_instances: [YOUR_INSTANCE_CONNECTION_NAME]

# This sample incurs costs to run on the App Engine flexible environment.
# The settings below are to reduce costs during testing and are not appropriate
# for production use. For more information, see:
# https://cloud.google.com/appengine/docs/flexible/ruby/configuring-your-app-with-app-yaml
manual_scaling:
  instances: 1
resources:
  cpu: 1
  memory_gb: 0.5
  disk_size_gb: 10

# [END gae_flex_quickstart_yaml]
