<h3>
  <%= t('public.footer.contact.header') %>
</h3>

<address>
  <%= simple_format current_account.decorate.display_address %>
</address>

<% unless current_account.hide_phone %>
  <address>
    <i class='fa fa-phone'></i>
    <i dir='ltr'><%= current_account.phone %></i>
  </address>
<% end %>

<% unless current_account.hide_email %>
  <address>
    <i class='fa fa-envelope'></i>
    <i><%= current_account.email.gsub('@', '(@)') %></i>
  </address>
<% end %>
