<div class='row devise'>
  <div class='col-md-6 image'>
    <%= image_tag 'landing/devise.jpg', alt: t('landing.user_confirmations.new.title'), class: 'img-fluid' %>
  </div>

  <div class='col-md-6'>
    <h1 class='form-header'>
      <%= t('devise.confirmations.new.resend_confirmation_instructions') %>
    </h1>

    <%= render 'form' %>
  </div>
</div>
