body {
  font-size: 14px;
  background: #fafafa;
}

a {
  color: #17a2b8;

  &:hover {
    color: #45B5C6;
  }
}

.page-header {
  margin: 30px 0 20px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;

  #content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
  }
}

// Pagination
.page-item.active .page-link {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.page-link {
  color: #17a2b8;
}
