.edit_account {
  .account_configuration_supported_locales {
    .form-check {
      display: inline-block;
      padding-right: 10px;
    }

    legend {
      font-weight: bold;
    }
  }

  .account_configuration_admin_locale,
  .account_configuration_default_locale,
  .account_configuration_logo,
  .account_configuration_about_us,
  .account_configuration_theme,
  .account_configuration_mawaqit_link,
  .account_seo_content_meta_title,
  .account_seo_content_meta_description {
    label {
      font-weight: bold;
    }
  }
}
