<hr class='divider-line'>

<footer class='container'>
  <p class='float-right'>
    <a href='#'><%= t('shared.footer.back_to_top') %></a>
  </p>
  <p>
    <%= t('landing.footer.copyright_html', year: Date.current.year, privacy_url: '#', terms_url: '#') %>
  </p>
</footer>
