<%= image_tag 'landing/volunteers.png', class: 'img-fluid' %>

<h1 class='form-header'>
  <%= t('shared.volunteers.new.header') %>
</h1>

<%= render 'content/shared/volunteers/form', volunteer: @volunteer %>
