<%= image_tag 'landing/volunteers.png', alt: t('landing.volunteers.new.header'), class: 'img-fluid' %>

<h1 class='form-header'>
  <%= t('landing.volunteers.new.header') %>
</h1>

<%= render 'content/shared/volunteers/form', volunteer: @volunteer %>
